// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeInOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeInOut;
  }

  // Rotate Menu Lines into 'X'
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;
  //   pointer-events: none;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    min-height: 100vh;
    overflow: hidden;
  }

  // Menu Side [Right]
  &-nav {
    background: darken($primary-color, 6);
    list-style-type: none;
    // Slide in from top
    transform: translate3d(0, -100%, 0);
    @include easeInOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side [left]
  &-branding {
    background: $primary-color;
    // Slide in from bottom
    transform: translate3d(0, 100%, 0);
    @include easeInOut;
    opacity: 1 !important;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      background-size: cover;
      background-blend-mode: color;
      border-radius: 50%;
      border: 3px solid $secondary-color;
    }
  }

  // Slide menu items from right
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeInOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  // Styling menu item links
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0rem;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeInOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
