@import "config";
@import "menu";

html {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

// Header
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

// Main Section
main {
  padding: 4rem;
  // min-height: 100%;
  min-height: calc(100vh - 50px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      margin-right: 1rem;
      @include easeInOut();
      &:hover {
        color: $secondary-color;
      }
      i {
        transform: translateY(5px);
        @include easeInOutIcons();
        &:hover {
          transform: translateY(0px);
        }
      }
    }
  }
  &#home {
    overflow: hidden;

    h1 {
      margin-top: 25vh;
    }
  }
}

// About Page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0rem 1rem;

  .bio-image {
    width: 200px;
    height: 200px;
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }

  .bio {
    font-size: 1.5rem;
    grid-area: bio;
    text-align: justify;
    align-self: center;

    h3 {
      font-size: 2rem;
    }
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 2rem;
    border-left: 3px solid $secondary-color;

    h3 {
      color: $secondary-color;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.3rem;
      text-align: justify;
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }
}

// Work/Projects Page
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-top: 3rem;

  img {
    width: 100%;
    border: 3px solid #fff;
    opacity: 0.7;
    filter: grayscale(100%);
    @include easeInOut;

    &:hover {
      opacity: 1;
      border-color: $secondary-color;
      filter: grayscale(0%);
    }
  }

  .btn-container {
    width: 100%;
    height: fit-content;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem 1rem 2rem 1rem;
  // margin-top: 5rem;
  // margin-right: 1rem;

  .div1 {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 1.5rem;
    margin-bottom: 3rem;
    min-width: 500px;
    text-align: center;
    text-decoration: none;
    @include easeInOut;

    &:hover {
      text-decoration: none;

      a {
        color: $primary-color;
      }
    }
  }

  // Light Reflection Effect
  .effect01 {
    color: #fff;
    border: 4px solid #000;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 4px solid $secondary-color;
      background-color: #fff;
      color: $primary-color;
      box-shadow: 0px 0px 0px 4px #eee inset;
    }
  }

  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span {
    letter-spacing: 0.13em;
    color: #333;
  }

  /*highlight*/
  .effect01:after {
    background: #fff;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #fff;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

// Divider{
.divider {
  width: 100%;
  border: 1px solid lighten($primary-color, 5);
  margin: 2rem 0rem;
}

// Button Styles
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0rem 0.2rem 0.3rem;
  border-radius: 3px;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeInOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
}

// Footer
#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 50px;

  span {
    color: $secondary-color;
    margin-left: 6px;
  }
}

@import "mobile";
